MONGOOSE_URI=mongodb://localhost:27017
RAZORPAY_KEY_ID=Somrthng
RAZORPAY_SECRET=Somrthng
CLOUDINARY_CLOUD_NAME=dfq7aafyv
CLOUDINARY_API_KEY=42478463865935
CLOUDINARY_API_SECRET=Tm_HrPOIySD3ubbga-on3rLxk70



